/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: rgb(209, 102, 83);}
a:link, a:visited {
    background-color: white;
    color: rgb(255, 82, 51);
    border: 2px solid tomato;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: tomato;
    color: white;
  }
  h1,h2{
      color: rgb(255, 38, 0);
  }
  button{
    background-color: tomato;
    color: white;
    border: 2px solid tomato;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  